In [59]:
import praw
import pandas as pd
import json
import urllib.request

In [6]:
path = 'TAD_Final_Project_AITA/data/raw_data/'

In [60]:
reddit = praw.Reddit(client_id='iAajnINW1rc_9Q', client_secret='-oxEXPNDghVqscnTykypNn34gGrFsA', 
                     user_agent='Garlic_Negative')

In [71]:
df1 = pd.read_csv(path+'2014_1400_posts.csv')
df2 = pd.read_csv(path+'over_10K_posts.csv')
df2.head()

,Unnamed: 0,title,score,id,num_comments,selftext,created_utc,flair
0,0,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1550376068,No A-holes here
1,1,AITA because my husband saw my post and says h...,21882,arxwi6,4135,He says it's only a matter of time before some...,1550501148,Not the A-hole
2,2,AITA for grabbing a stranger's boob?,19399,as3skm,2854,"I'm 36 weeks pregnant and honestly, it's been ...",1550533795,Judgment denied.
3,3,"AITA for Objecting to ""Female Employee Only"" P...",16218,asawpv,3872,"So theres not too much to say, I guess I'm mor...",1550586164,No A-holes here
4,4,AITA for telling my friend I didn’t appreciate...,18330,ashfts,2114,\n\nMy friend invited my husband and me to a ...,1550621796,Not the A-hole

In [72]:
df1.drop(columns='Unnamed: 0',inplace=True)
df2.drop(columns='Unnamed: 0',inplace=True)
df1.head()

,title,score,id,num_comments,selftext,created_utc,flair
0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1537129088,META
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1550307938,Asshole
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1550332657,No A-holes here
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1550376068,No A-holes here
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1550417659,Not the A-hole

In [81]:
df3 = pd.concat([df1,df2])
df3.head()

,title,score,id,num_comments,selftext,created_utc,flair
0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1537129088,META
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1550307938,Asshole
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1550332657,No A-holes here
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1550376068,No A-holes here
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1550417659,Not the A-hole

In [74]:
df3.drop_duplicates(inplace=True)
df3.shape

(1379, 7)

In [32]:
df1.shape[0]+df2.shape[0]

2360

In [79]:
df8 = pd.read_csv(path+'top_500_posts.csv')
df8.rename(columns={'body':'selftext'},inplace=True)
df8.drop(columns='Unnamed: 0',inplace=True)
df8.head()

,title,score,id,num_comments,selftext,flair
0,META: This sub is moving towards a value syste...,80912,d6xoro,6250,I’ve enjoyed reading and posting on this sub f...,META
1,"UPDATE, AITA for despising my mentally handica...",72776,azvko1,1995,"I'm back like I said I would be,. My [original...",UPDATE
2,AITA For suing my girlfriend after she had my ...,70804,gr8bp3,2787,I'll try to keep this short. I had a [1967 Imp...,Not the A-hole
3,UPDATE: AITA for wanting to go to the funeral ...,67569,cjetsa,2,I want to sincerely thank everyone who comment...,Update
4,AITA for pretending to get fired when customer...,63525,e5k3z2,3660,I am a high schooler with a weekend job at a c...,Not the A-hole

In [62]:
### Need to grab flair tags with praw
ids = df4['id'].values
utcs  = []
for item in ids: 
    submission = reddit.submission(id=item)
    utcs.append(submission.created_utc)
df4['created_utc']=utcs

In [80]:
df4['selftext'] = df8['selftext']
columns = ['title','score', 'id', 'num_comments','selftext','created_utc','flair']
df4 = df4[columns]
df4

,title,score,id,num_comments,selftext,created_utc,flair
0,META: This sub is moving towards a value syste...,80912,d6xoro,6250,I’ve enjoyed reading and posting on this sub f...,1.568998e+09,META
1,"UPDATE, AITA for despising my mentally handica...",72776,azvko1,1995,"I'm back like I said I would be,. My [original...",1.552322e+09,UPDATE
2,AITA For suing my girlfriend after she had my ...,70804,gr8bp3,2787,I'll try to keep this short. I had a [1967 Imp...,1.590536e+09,Not the A-hole
3,UPDATE: AITA for wanting to go to the funeral ...,67569,cjetsa,2,I want to sincerely thank everyone who comment...,1.564423e+09,Update
4,AITA for pretending to get fired when customer...,63525,e5k3z2,3660,I am a high schooler with a weekend job at a c...,1.575393e+09,Not the A-hole
...,...,...,...,...,...,...,...
495,"META At any point, the advice you're reading c...",23507,b2x90i,764,"This seems like a really weird meta post, but ...",1.553001e+09,META
496,UPDATE: AITA for not agreeing to a paternity t...,23464,j9ueq4,1597,This is an update to my other [post](https://w...,1.602521e+09,UPDATE
497,AITA For Telling My Wife That If She Quits Her...,23464,cyj5v1,3777,My wife wants to quit her job. She wants to be...,1.567392e+09,Not the A-hole
498,AITA for firing my babysitter for getting drun...,23451,i0q5un,1088,This is my throwaway account. \n\nMy (37F) bab...,1.596130e+09,Asshole
499,AITA for only going out to eat with my uncle a...,23434,gyip6p,1259,I (F21) am currently living with my uncle and ...,1.591558e+09,Not the A-hole

In [82]:
df3 = pd.concat([df3,df4])
df3

,title,score,id,num_comments,selftext,created_utc,flair
0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1.537129e+09,META
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1.550308e+09,Asshole
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1.550333e+09,No A-holes here
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,No A-holes here
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole
...,...,...,...,...,...,...,...
495,"META At any point, the advice you're reading c...",23507,b2x90i,764,"This seems like a really weird meta post, but ...",1.553001e+09,META
496,UPDATE: AITA for not agreeing to a paternity t...,23464,j9ueq4,1597,This is an update to my other [post](https://w...,1.602521e+09,UPDATE
497,AITA For Telling My Wife That If She Quits Her...,23464,cyj5v1,3777,My wife wants to quit her job. She wants to be...,1.567392e+09,Not the A-hole
498,AITA for firing my babysitter for getting drun...,23451,i0q5un,1088,This is my throwaway account. \n\nMy (37F) bab...,1.596130e+09,Asshole
499,AITA for only going out to eat with my uncle a...,23434,gyip6p,1259,I (F21) am currently living with my uncle and ...,1.591558e+09,Not the A-hole

In [64]:
df5 = pd.read_csv(path+'20210409_controversial_972_posts.csv')
df5.drop(columns='Unnamed: 0',inplace=True)
df5.rename(columns={'body':'selftext'},inplace=True)
df5.head()

,title,score,id,num_comments,selftext,flair
0,AITA for making my children pay for their own ...,0,cu9zri,507,We have been planning on going on vacation to ...,Asshole
1,AITA for reporting a delivery driver who I tho...,1249,dewsy2,843,Throwaway account because I don’t want this li...,Asshole
2,AITA for dropping my daughter from my wife and...,76,fmo60w,794,My daughter is 23 and just got a call from her...,Asshole
3,AITA for telling my daughter that dropping out...,3,mjs7yq,199,My daughter told us she wants to withdraw this...,Asshole
4,aita for telling my neighbor she needs to stop...,7,dqcdg9,180,This happened in august. I have 4 kids and am ...,Asshole

In [65]:
### Need to grab flair tags with praw
ids = df5['id'].values
utcs  = []
for item in ids: 
    submission = reddit.submission(id=item)
    utcs.append(submission.created_utc)
df5['created_utc']=utcs

In [83]:
df6 = df5[columns]
df6

,title,score,id,num_comments,selftext,created_utc,flair
0,AITA for making my children pay for their own ...,0,cu9zri,507,We have been planning on going on vacation to ...,1.566542e+09,Asshole
1,AITA for reporting a delivery driver who I tho...,1249,dewsy2,843,Throwaway account because I don’t want this li...,1.570521e+09,Asshole
2,AITA for dropping my daughter from my wife and...,76,fmo60w,794,My daughter is 23 and just got a call from her...,1.584829e+09,Asshole
3,AITA for telling my daughter that dropping out...,3,mjs7yq,199,My daughter told us she wants to withdraw this...,1.617525e+09,Asshole
4,aita for telling my neighbor she needs to stop...,7,dqcdg9,180,This happened in august. I have 4 kids and am ...,1.572651e+09,Asshole
...,...,...,...,...,...,...,...
967,UPDATE:AITA for not inviting my son to my wedd...,600,m6ag90,119,"Well,l sent him an invite after what was told ...",1.615905e+09,UPDATE
968,AITA For thinking my bf (25m) and I (23f) shou...,95,jzhg1k,204,"Hi AITA--\n\nFirst time poster, long time comm...",1.606138e+09,Asshole
969,AITA for bringing ants into our dorm?,0,mmokf4,13,Before reading I recommend Googling 생활관 on Goo...,1.617877e+09,Asshole
970,AITA for bringing a second girl to my shared a...,16,mgxfr0,61,We have a standing agreement that we text each...,1.617162e+09,Asshole
971,AITA for not letting a friends friend in my ho...,29,mh0uqn,128,Okay so my friend still lives with his parents...,1.617177e+09,Asshole

In [84]:
df3 = pd.concat([df3,df6])
df3

,title,score,id,num_comments,selftext,created_utc,flair
0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1.537129e+09,META
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1.550308e+09,Asshole
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1.550333e+09,No A-holes here
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,No A-holes here
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole
...,...,...,...,...,...,...,...
967,UPDATE:AITA for not inviting my son to my wedd...,600,m6ag90,119,"Well,l sent him an invite after what was told ...",1.615905e+09,UPDATE
968,AITA For thinking my bf (25m) and I (23f) shou...,95,jzhg1k,204,"Hi AITA--\n\nFirst time poster, long time comm...",1.606138e+09,Asshole
969,AITA for bringing ants into our dorm?,0,mmokf4,13,Before reading I recommend Googling 생활관 on Goo...,1.617877e+09,Asshole
970,AITA for bringing a second girl to my shared a...,16,mgxfr0,61,We have a standing agreement that we text each...,1.617162e+09,Asshole
971,AITA for not letting a friends friend in my ho...,29,mh0uqn,128,Okay so my friend still lives with his parents...,1.617177e+09,Asshole

In [85]:
df3.drop_duplicates(inplace=True)
df3.shape

(2851, 7)

In [86]:
df3.to_csv('non_dup_data.csv')

In [87]:
df9 = pd.read_csv('4500_posts.csv')
df9.head()

,Unnamed: 0,title,score,id,num_comments,selftext,created_utc,flair
0,1,AITA for being upset my boyfriend didn’t get m...,287,9eyfox,693,He has no money until he’s paid at the end of ...,1536678944,asshole
1,2,AITA for not wanting to date a transgender per...,2766,9gix1f,1385,Let me just say up front that I have nothing a...,1537177551,not the a-hole
2,3,AITA for reporting my classmates for doing weed?,1427,9ihcqq,1667,"About a year ago, I became quite religious. An...",1537790836,asshole
3,4,AITA for flipping out at dinner about my frien...,2717,9k4ef9,779,I have a friend that is a nurse. While we were...,1538291368,justified asshole
4,5,AITA For having drunk sex with a girl who didn...,1,9l0vf9,643,I met this girl a couple of weeks back in a pu...,1538571142,asshole

In [88]:
df9.drop(columns='Unnamed: 0',inplace=True)
df9

,title,score,id,num_comments,selftext,created_utc,flair
0,AITA for being upset my boyfriend didn’t get m...,287,9eyfox,693,He has no money until he’s paid at the end of ...,1536678944,asshole
1,AITA for not wanting to date a transgender per...,2766,9gix1f,1385,Let me just say up front that I have nothing a...,1537177551,not the a-hole
2,AITA for reporting my classmates for doing weed?,1427,9ihcqq,1667,"About a year ago, I became quite religious. An...",1537790836,asshole
3,AITA for flipping out at dinner about my frien...,2717,9k4ef9,779,I have a friend that is a nurse. While we were...,1538291368,justified asshole
4,AITA For having drunk sex with a girl who didn...,1,9l0vf9,643,I met this girl a couple of weeks back in a pu...,1538571142,asshole
...,...,...,...,...,...,...,...
4519,AITA for not wanting my wife’s birthday present?,1,foh9yl,740,"The other week, my wife broke my gaming system...",1585098410,Not the A-hole
4520,AITA for how I treated a waitress,1,foo3cr,1252,I was flying home from a work trip and my flig...,1585132428,Not the A-hole
4521,AITA for no longer giving a struggling neighbo...,1,fotbrh,1413,When my (30F) husband and I got our first hous...,1585153981,Not the A-hole
4522,AITA for ignoring my sisters request to stop c...,1,fp2i9w,1166,My husband and I live in a two bedroom apartme...,1585185628,Not the A-hole
4523,"AITA for not wanting to ""tone down"" my wedding?",1,fp4kaj,1652,My fiance and I wanted to do something small f...,1585194042,Not the A-hole

In [89]:
df3 = pd.concat([df3,df9])

In [93]:
# df3.reset_index(inplace=True)
df3.drop(columns='index',inplace=True)
df3

,title,score,id,num_comments,selftext,created_utc,flair
0,UPVOTE THE ASSHOLES,7078,9gdshx,142,"Guys, please, this is for the good of our comm...",1.537129e+09,META
1,AITA for taking a homeless person’s dog?,5413,ar75he,629,I know the title sounds awful but please read ...,1.550308e+09,Asshole
2,AITA - I saw a video of this guy video taping ...,6096,ara05f,963,Yesterday online I saw a post titled “My First...,1.550333e+09,No A-holes here
3,AITA for not telling the cashier she failed to...,10534,argv3j,3781,*Originally posted on /r/Confessions and someo...,1.550376e+09,No A-holes here
4,AITA for wanting to divorce my transgender wif...,9212,arlk60,179,Original post over [here](https://www.google.c...,1.550418e+09,Not the A-hole
...,...,...,...,...,...,...,...
7370,AITA for not wanting my wife’s birthday present?,1,foh9yl,740,"The other week, my wife broke my gaming system...",1.585098e+09,Not the A-hole
7371,AITA for how I treated a waitress,1,foo3cr,1252,I was flying home from a work trip and my flig...,1.585132e+09,Not the A-hole
7372,AITA for no longer giving a struggling neighbo...,1,fotbrh,1413,When my (30F) husband and I got our first hous...,1.585154e+09,Not the A-hole
7373,AITA for ignoring my sisters request to stop c...,1,fp2i9w,1166,My husband and I live in a two bedroom apartme...,1.585186e+09,Not the A-hole
7374,"AITA for not wanting to ""tone down"" my wedding?",1,fp4kaj,1652,My fiance and I wanted to do something small f...,1.585194e+09,Not the A-hole

In [94]:
df3.drop_duplicates(inplace=True)
df3.shape

(6388, 7)

In [95]:
df3.to_csv('full_data_no_gender.csv')